.users {
  margin: 1.5rem 0 0.5rem;
  width: 100%;
}

.centered-row {
  margin-top: 2rem;
}

.hidden-column {
  visibility: visible;
  position: relative;
}

.hidden-column span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.actions {
  position: relative;
  text-align: right;
}
