.details {
  margin-top: 1.5rem;
}

.detail {
  display: flex;
}

.detail .detail-value {
  margin-top: 0.1rem;
  margin-left: 1rem;
}

.detail .regenerate-button {
  margin-left: 1rem;
  max-height: 1rem;
}

.callout {
  margin-top: 1rem;
}
