.regenerate-button {
  margin-left: 1rem;
  max-height: 1rem;
}

.generated-token {
  display: flex;
  gap: 1rem;
}

.generated-token .token {
  flex-grow: 1;
}

.generated-token .copy {
  max-height: 1rem;
  margin-top: 0.5rem;
}

.callout {
  margin-top: 1rem;
}
